html{
  position: relative;
  height: 7484px;
  background: #FFFFFF;
  font-family: 'Eudoxus Sans','Comforter Brush', cursive;
  overflow:scroll;
}

html::-webkit-scrollbar{
  display: none;
}

.logo{
  position: absolute;
  left: 80px;
  top: 25px;
}

.nav{
  position:absolute;
  top:34px;
}

.bar{
  position: absolute;
  top:77.5px;
}

.dont{
  position: absolute;
  width: 325px;
  height: 30px;
  left: 62px;
  top: 180px;
}

.men{
  position: absolute;
  left: 556px;
  top: 99px;
}

.ads{
position: absolute;
left: 60px;
top: 215px;
}

.vector{
  position: absolute;
  left: 62.61px;
  top: 365px;
}

.grow{
  position: absolute;
  left: 60px;
  top: 403px;
}

.ip{
  position: absolute;
  width: 339px;
  height: 55px;
  left: 60px;
  top: 490px;
  border:1px solid grey;
  border-radius:12px;
  font-size: 20px;
}

.ip::placeholder{
  font-size: 19px;
}

.b{
  position: absolute;
  width: 165px;
  height: 55px;
  left: 412px;
  top: 490px;
}

.vector2{
  position: absolute;
  left: 204.98px;
  top: 624px;
}

.vector1{
  position: absolute;
  left: 194px;
  top: 658.82px;
}

.purpose{
  position: absolute;
  width: 1274px;
  height: 846px;
  left: 43px;
  top: 773px;
  background: #F7FAFF;
  border:1px solid lightblue;
  border-radius: 50px;
}

.mobile{
  position: absolute;
  left: 80px;
  top: 216px;
}

.what{
  position: absolute;
  left: 430px;
  top: 80px;
} 

.our{
  position: absolute;
  left: 557px;
  top: 135px;
}

#rectangle-box{
  position: absolute;
  width: 660px;
  height: 170px;
  left: 565px;
 
}

.active{
  background: #FFFFFF;
  border: 1.5px solid #D6E8FF;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
  top:266px;
}

.logo2{
  top:436px;
  border-bottom: 1.5px solid #D6E8FF;
}

.logo3{
  top:606px;
}

.logo4{
  position: absolute;
  left:50px;
  top:25px;
}

.recHead{
  position: absolute;
  left:200px;
  top: 50px;
}

.rec{
  position: absolute;
  left:200px;
  top:18px;
}

.des{
  position: absolute;
  left:200px;
  top:90px;
}

.choose-zocketHeading{
  position: absolute;
  left: 490px;
  top: 1707px;
}

.square{
  position: absolute;
  width: 370px;
  height: 256px;
  border: 1.5px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 30px;
}

.box1{
  left: 136px;
  top: 1864px;
}

.box2{
  left: 535px;
  top: 1864px;
}

.box3{
  left: 934px;
  top: 1864px;
}

.box4{
  left: 136px;
  top: 2165px;
}

.box5{
  left: 533px;
  top: 2165px;
}
.box6{
  left: 934px;
  top: 2165px;
}

.feature1{
  position: absolute;
  top:3570px;
}

.feature2{
  position: absolute;
  top:4239.5px;
  height: 658px;
  width: 98vw;
  background-color:  #F7FAFF;
  border:1px solid lightblue;
}

.feature3{
  position: absolute;
  top:4950px;
}

.run-ads{
  background-color: #0F6EFF;
  height: 562px;
  position: absolute;
  top:5597px;
  width: 100vw;
  left: 0px;
}

.about{
  height: 300px;
  width:100vw;
  background: #F6FAFF;
  border: 1.5px solid #E3EEFD;
  box-sizing: border-box;
  position: absolute;
  top:7100px;
  left:0;
}

.footer{
  width:100vw;
  position: absolute;
  left:0;
  top:7401px;
  height:83px;
  background-color: #093D8A;;
}

.alert{
  position: absolute;
  top:80px;
  left: 80px;
  width:320px;
}